*{
    margin: 0;
}

header{
    background-color:aliceblue;
}
.container{
    width: 100%;
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.item {
    font-size: .95em;
	padding-top: 0%;
	padding: 3px;
    margin-top: 0%;
	margin-inline: 5px;	
	border-radius: 2px;
}
.title{
    margin-top: 0%;
    padding: 3px;
    font-size: .95em;
    margin-right:auto;
}
a{
    color: rgb(38, 94, 54);
    text-decoration: none;
}

.wel{
    font-size: 2em;
    background-color:rgb(30, 74, 74);
    color: aliceblue;
    text-align: center;
    height: 150px;
    line-height: 150px;
}
.cla_tit{
    align-content: center;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.7em;
}
.row1 {
    margin-inline: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
   
   
}
.row2 {
    margin-inline: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.box{
    margin: 5px;
    background-color: rgb(37, 76, 96);
    height: 80px;
    width: 300px;
    color: rgb(255, 255, 255);
}
footer{
    display: flex;
    justify-content:center;
    margin-top: 1%;
    flex-direction: row;
    align-items: center;
}
.button{
    margin-top: 1%;
    height:30px;
    width:100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:rgb(244, 245, 245);
    background-color:rgb(30, 74, 74);
    justify-content: center;
    line-height:30px;
}

.row3 {
    display: none;
    margin-inline: 1%;
 
    flex-direction: row;
    justify-content: center;
    text-align: center;
   
   
}
.row4 {
    display: none;
    margin-inline: 1%;

    flex-direction: row;
    justify-content: center;
    text-align: center;
}