body{
    color: beige;
    background-color: rgb(40, 81, 63);
    justify-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}